body {
  background-color:white;
}
path {
  fill: transparent;
}
.titel {
  text-align:center;
  font-size:80px;
  color:red;
  font-family: 'Luckiest Guy', cursive;
}
.centreren {
  text-align: center;
}

ul.dropdownmenu {
  padding:0;
  margin:0;
  list-style-type:none;
  overflow:hidden;
  background-color:rgba(0,0,0,0.2);
  width:100%;
}



.homemenu {
  width:auto;
  text-align: center;
  display:inline-block;
  cursor:pointer;
}
.homemenu a {
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.about {
  width:auto;
  text-align:center;
  display:inline-block;
  float:left;
  cursor:pointer;
}
.about a {
  color:black;
  padding: 12px 16px;
  text-decoration:none;
  display:block;
}

.drpdwnrasp {
  width:auto;
  text-align: center;
  display:inline-block;
  cursor:pointer;
}
.drpdwnsch {
  width:auto;
  text-align: center;
  display:inline-block;
  cursor:pointer;

}

.drpdwnrasp a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.drpdwnsch a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.raspberry {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 1;
}

.school {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 1;
}

.raspberry a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.school a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

li a:hover {
  background-color:rgba(0,0,0,0.4);
}



.raspberry a:hover{
  background-color:rgba(0,0,0,0.5);
}
.school a:hover {
  background-color:rgba(0,0,0,0.5);
}


.drpdwnrasp:hover .raspberry {
  display:block;
}
.drpdwnsch:hover .school {
  display:block;
}

.easteregg {
  display:hidden;
  width:20px;
  height:20px;
  text-align:center;
  font-size:5px;

}
.easteregg:hover{
  display:block;
  background-color:red;
}
